@use '../partials/variables' as *;

main.favorites-page {
    height: 100%;
    padding: 0 0 20px;
    .details {
        display: none;
    }
}

.favorites-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px 0 0;
    // align-items: flex-start;
    row-gap: 20px;
    & > div {
        width: 100%;
        max-width: calc((100% / 4 - 30px));
        @media screen and (min-width: $desktop_breakpoint) {
            // width: calc((100% / 4) - 30px);
            max-width: calc((100% / 2) - 30px);
        }
    }
}
