#app main.listingpage {
  height: 100%;
  padding: 0 0 20px;
}
.listingpage_wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px 0 0;
  // align-items: flex-start;
  row-gap: 20px;
}
