@use '../partials/variables' as v;
main.startpage {
    height: calc(100vh - v.$header_height);
}
.startpage_wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    div {
        cursor: pointer;
        
    }
}